.play-zone {

  &__content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-size: 40px;
    margin-bottom: 40px;
    transition: color 0.5s;;
  }
}

.game-area {
  position: relative;
  display: flex;
  background-color: $gameArea;
  border: 2px solid $gameAreaBorder;
  transition: background-color 0.5s, border-color 0.5s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  &__column-clue {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid $gameAreaBorder;
    transition: border-color 0.5s;
  }
  
  &__row-clue {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 2px solid $gameAreaBorder;
    transition: border-color 0.5s;
  }

  &__row {
    display: flex;
    
    &:nth-child(5n):not(:last-child) {
      border-bottom: 2px solid $gameAreaBorder;
      transition: border-color 0.5s;
    }
  }

  &__cell-clue {
    border: 1px solid $lightBorder;
    text-align: center;
    width: 100%;
    color: $textColor;
    transition: border-color 0.5s, color 0.5s;

    &--column {
      width: 20px;
      min-height: 20px;
      
      &:nth-child(5n):not(:last-child) {
        border-right: 2px solid $gameAreaBorder;
        transition: border-color 0.5s, color 0.5s;
      }
    }

    &--row {
      min-height: 20.3px;
      line-height: 1.133;
      min-width: 20px;

      &:first-child {
        border-top: 2px solid $gameAreaBorder;
        transition: border-color 0.5s, color 0.5s;
      }
      
      &:nth-child(5n):not(:last-child) {
        border-bottom: 2px solid $gameAreaBorder;
        transition: border-color 0.5s, color 0.5s;
      }
    }
  }

  &__holder-cell {
    display: flex;
  }

  .cell {
    position: relative;

    width: 20px;
    height: 20px;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;

    &:nth-child(5n):not(:last-child) {
      border-right: 2px solid $gameAreaBorder;
      transition: border-color 0.5s, background-color 0.5s;
    }
    
    &__front,
    &__back {
      width: 100%;
      height: 100%;
      overflow: hidden;
      backface-visibility: hidden;
      position: absolute;
      border: 1px solid $lightBorder;
      transition: border-color 0.5s, background-color 0.5s, transform 0.5s;

      @media (hover:hover) {
        &:hover {
          transition:background-color 0s;
          background-color: $hoverCellBack;
        }
      }
    }
  
    &__front {
      background-color: $emptyCell;
      transform: perspective(600px) rotateY(0deg);

    }
  
    &__back {
      background-color: $cellTrue;
      transform: perspective(600px) rotateY(180deg);
    }
    
    &.active{
      .cell__front{
        transform: perspective(600px) rotateY(-180deg);
      }
    } 
    
    &.active {
      .cell__back{
        transform: perspective(600px) rotateY(0deg);
      }
    }

    &.cross {
      .cell__front {
        background-size: cover;
        background-position: center;
        background-image: url(.././img/cross-black.svg);
      }
    }

  }

  &__close-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    &.active {
      z-index: 1;
    }
  }

}
