// ========Night Mode=======
$bodyBgNight: #07171fce;
$nightModeBtnNight: #f5f5f5;
$menuBgNight: #2a4396c9;
$burgerLineNight: #EAE0D5;

$gameAreaNight: #12276d;
$gameAreaBorderNight: #EAE0D5;
$lightBorderNight: #c9c3c348;
$textColorNight: #EAE0D5;

$cellTrueNight: #EAE0D5;
$hoverCellNight: #706d6d;

$shadowColorNightBtnHoverNight: #c0c0c0;

$btnColorNight: #EAE0D5;
$colorTextNight: #302d2a;
$colorTitleNight: #EAE0D5;

$btnStartNight: #302d2a;
$btnRandomNight: #302d2a;
$resetBtnNight: #696561;
$saveBtnNight: #696561;
$loadBtnNight: #696561;

$fadeBgNight: #79797986;
$modalBgNight: #302d2a;
$modalTimeNight: green;

// ========Light Mode========
$bodyBg: #e9e8e8;

$nightModeBtn: #302d2a;

$menuBg: #C6AC8F;
$burgerLine: #302d2a;
$shadowBurgerLine: #5a5a5a48;

$gameArea: #e9e8e8;
$gameAreaBorder: #302d2a;
$lightBorder: #5a5a5a48;
$textColor: #1d1c1c;

$emptyCell: #e9e8e8;
$cellTrue: #000000;
$hoverCellFront: #5a5a5a48;
$hoverCellBack: #5a5a5a48;

$shadowColorNightBtnHover: #1a1919;

$btnColor: #302d2a;
$colorText: #e9e8e8;
$colorTitle: #302d2a;

$btnStart: green;
$btnRandom: purple;
$resetBtn: rgb(155, 20, 20);
$saveBtn: rgb(184, 140, 46);
$loadBtn: rgb(29, 158, 233);

$fadeBg: #302d2ac0;
$modalBg: #e9e8e8;
$modalTime: green;